apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: dc-metro-map-3xi7
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/release-e2e-bundle-tenant/appstudio/dc-metro-map-3xi7@sha256:413f10e003293773045cb63ea507e17e147410f060a3b9cc5ad64378134af946
        name: my-nodejs
        resources: {}
status: {}
